<!-- Sticky Sidebar -->
<aside class="col-lg-3 col-md-4 sidebar sticky-top vh-100 overflow-auto">
    <div class="profile-section text-center py-4">
        {{> sidebar/profile}}
        {{> sidebar/contact}}
        {{> sidebar/social}}
        {{> sidebar/languages}}
        {{> sidebar/interests}}
    </div>
</aside>