{{#if resume.basics}}
<!-- Profile Image -->
{{#if resume.basics.image}}
<div class="profile-img-wrapper mb-3">
    <img src="{{resume.basics.image}}" alt="{{resume.basics.name}}" class="profile-img rounded-circle">
</div>
{{/if}}

<!-- Name and Title -->
{{#if resume.basics.name}}
<h2 class="h4 mb-1 text-white">{{resume.basics.name}}</h2>
{{/if}}
{{#if resume.basics.label}}
<p class="text-light m-4 pb-3 border-bottom border-secondary">{{resume.basics.label}}</p>
{{/if}}
{{/if}}